{# Template específico para a página inicial #}

{% include '@retailmediafc/includes/header.html.twig' %}

<div class="top">  
    {{ drupal_view('banners_home') }}      
</div>

{% include '@retailmediafc/includes/extras-top.html.twig' %}

<main role="main" class="home">
  <div class="container">
    <div class="content">                
      {{ drupal_view('noticia_home') }}      
      {{ drupal_view('artigo_home') }}      
      {{ drupal_view('agenda_home') }}
    </div>
    
    {% include '@retailmediafc/includes/sidebar.html.twig' %}    

  </div>
</main>

<div class="podcast">
    <div class="container">
      <div class="row">
        <div class="col-1">          
            <img src="{{ base_path }}themes/retailmediafc/css/img/logo-podcast.png" alt="Logo Podcast">
        </div>
        <div class="col-2">
          <img src="{{ base_path }}themes/retailmediafc/css/img/avatar-podcast.png" alt="Logo Podcast">
        </div>
        <div class="col-3">
          {{ drupal_view('podcasts_home') }}
        </div>
      </div>
    </div>
  </div>

<div class="banner-mega">    
      <div class="row">          
          <picture>
                <source 
                    media="(max-width: 700px)"
                    srcset="{{ base_path }}themes/retailmediafc/css/img/banner-conectado-mob.jpg"            
                    alt="Retail Media FC">
                <img 
                    src="{{ base_path }}themes/retailmediafc/css/img/banner-conectado.webp"            
                    alt="Retail Media FC">
            </picture> 
      </div>    
</div>

{% include '@retailmediafc/includes/extras-bottom.html.twig' %}

{% include '@retailmediafc/includes/modal.html.twig' %}

{% include '@retailmediafc/includes/footer.html.twig' %}
