{# Template específico para páginas de notícia #}

<header role="banner" id="mainheader">
  <div class="container">        
    {{ page.header }}
  </div>
</header>

<div class="top">
  <div class="container">
    <h3>/// Agenda de Eventos</h3>
  </div>
</div>

<div class="extras-top">
  <div class="container">
    {{ page.extrastop }}
  </div>
</div>

<main role="main" class="page-noticia">
  <div class="container">
    {# Coluna principal com o conteúdo #}
    <div class="content">
      {{ drupal_view('noticia_individual') }}
      {{ drupal_view('mais_noticias') }}
    </div>
    {# Sidebar específica para notícias #}
    {% if page.sidebar %}
      <aside class="sidebar sidebar-noticia">        
        {{ drupal_view('noticias_mais_lidas') }}
        {{ page.sidebar }}
      </aside>
    {% endif %}  
  </div>
</main>

<div class="extras-bottom">
  <div class="container">
    {{ page.extrasbottom }}
  </div>
</div>

<footer role="contentinfo">
    <div class="container">
        <div class="row">

          <div class="col-1">
            <h3>INSCREVA-SE E FAÇA PARTE<br/>
                DA MAIOR COMUNIDADE DE<br/>
                RETAIL MEDIA DO BRASIL
            </h3>
            <a href="#" class="btn">CADASTRO</a>
          </div>

          <div class="col-2">
          </div>
          
          <div class="col-3">
            <p>Siga-nos nas redes sociais:</p>
            <ul class="social">
              <li>
                <a href="#">
                  <img src="https://placehold.co/30x30" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://placehold.co/30x30" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="https://placehold.co/30x30" alt="">
                </a>
              </li>
          </div>        
        
      </div>
  </footer>